---
---

@import "type-on-strap";

/* Make circles that indicate the steps of the form: */
.step {
  height: 45px;
  width: 45px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
